# Practica1

Explicacion de la pr√°ctica

In [3]:
# Importamos las librerias necesarias para poder depurar el dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
airbnbs = pd.read_csv('./DatasetsLab1/airbnb.csv', encoding='latin-1')
airbnbs.head(4)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194

## Eliminamos los valores NaN

In [3]:
airbnbs = airbnbs.dropna()

## Eliminamos valores duplicados

In [4]:
airbnbs = airbnbs.drop_duplicates() #elimina las filas duplicadas
airbnbs.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6

### Filtramos las columnas que nos interesen de todo el dataframe

La columna de rese√±as por mes, las dividimos en 3 rangos iguales, despu√©s dependiendo del valor concreto que tenga cada apartamento se le asignar√°n las etiquetas: ‚ÄúBaja‚Äù, ‚ÄúMedia‚Äù y ‚ÄùAlta‚Äù.

In [5]:
columnaResenasMes = airbnbs[["reviews_per_month"]] #sacamos solo la columna de rese√±as por mes
columnaResenasMes.head(10) #mostramos las 10 primera para confirmar que lo hemos hecho bien

    reviews_per_month
0                0.21
1                0.38
3                4.64
4                0.10
5                0.59
6                0.40
7                3.47
8                0.99
9                1.33
10               0.43

Para saber como dividir en 3 grupos los valores, vamos a ver cual es el valor maximo y cual es el valor minimo de esta columna.

In [6]:
maxResenas = columnaResenasMes.max()
print(str(maxResenas))

reviews_per_month    58.5
dtype: float64

In [7]:
#Al HIlal 2 - 3 Madrid
minResenas = columnaResenasMes.min()
print(str(minResenas))

reviews_per_month    0.01
dtype: float64

Dividimos 58.5 entre tres para dividir por grupos

In [8]:
maxResenas/3

reviews_per_month    19.5
dtype: float64

##### Calidad baja iria de 0 a 19.5
##### Calidad media iria de 19.5 a 39
##### Calidad alta iria de 39 a 58.5

### Creamos otra columna, con la calidad, que a√±adiremos "Baja" "Media" y "Alta" seg√∫n los valores mostrados arriba

In [9]:
airbnbs["Calidad"] = ""
airbnbs.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0,
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220,
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188,
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6,

In [10]:
airbnbs[["reviews_per_month", "Calidad"]]

       reviews_per_month Calidad
0                   0.21
1                   0.38
3                   4.64
4                   0.10
5                   0.59
...                  ...     ...
48782               1.00
48790               1.00
48799               1.00
48805               2.00
48852               1.00

[38821 rows x 2 columns]

In [11]:
i = 0
for items in airbnbs["reviews_per_month"].values:
    #print("iteracion " + str(i))
    #print("Reviews per Month " + str(items))
    if items < 19.5:
        airbnbs.loc[i, "Calidad"] = "Baja"
        #print("Calidad buena")
        #print(items)
    if items > 19.5 and items < 39: 
        airbnbs.loc[i, "Calidad" ] = "Media"
        print("Calidad Media")
        print(items)
    if items > 39: 
        airbnbs.loc[i, "Calidad" ] = "Alta"
        print("Calidad Alta")
        print(items)
    i = i +1

Calidad Media
19.75
Calidad Media
20.94
Calidad Alta
58.5
Calidad Media
27.95

### Ya tenemos la columna Calidad creada, ahora vamos a hacer lo mismo con la disponibilidad

La columna de disponibilidad, las dividimos en 3 rangos iguales, despu√©s dependiendo del valor concreto que tenga cada apartamento se le asignar√°n las etiquetas: "Poco Disponnible", "Disponible normalmemte", "Altamente disponible"
Como hay 365 dias, dividimos los rangos en 122
de 0 a 122: poca dispoibilidad
de 122 a 244: Media disponibilidad
de 224 a 365: alta

In [12]:
airbnbs["Disponibilidad"] = ""

### Columna Disponibilidad vacia creada, la rellenamos con datos

In [13]:
i = 0
for items in airbnbs["availability_365"].values:
    #print("iteracion " + str(i))
    #print("Reviews per Month " + str(items))
    if items < 122:
        airbnbs.loc[i, "Disponibilidad"] = "Poco disponible"
        #print("Calidad buena")
        #print(items)
    if items > 121 and items < 244: 
        airbnbs.loc[i, "Disponibilidad" ] = "Disponible normalmente"
        #print(items)
    if items > 243: 
        airbnbs.loc[i, "Disponibilidad" ] = "Altamente disponible"
        #print(items)
    i = i +1

### Clasificamos apartamentos. Creamos una columna Clasificacion

In [14]:
airbnbs["Clasificacion"] = ""

### Rellenamos la columna de clasificacion

In [16]:
i = 0
for items in airbnbs["Calidad"].values:
    #print("iteracion " + str(i))
    #print(airbnbs.loc[i, "Disponibilidad"])
    #print("Reviews pe Month " + str(items))
    disponibilidad = airbnbs.loc[i, "Disponibilidad"]
    #print(d#isponibilidad)     
    #print(items)
    if items == "Baja" and disponibilidad == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Bueno"
        #print("Calidad buena")
        #print(airbnbs.items)
    if items == "Media" and disponibilidad == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Bueno"
        #print(airbnbs.items)
    if items == "Alta" and disponibilidad == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Muy Bueno"
        #print(airbnbs.items)
    i = i + 1
    #print()

KeyError: 38823