# Práctica 1

Explicacion de la práctica

In [2]:
# Importamos las librerias necesarias para poder depurar el dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
airbnbs = pd.read_csv('./DatasetsLab1/airbnb.csv', encoding='latin-1')
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

### Eliminamos los valores NaN

In [4]:
airbnbs = airbnbs.dropna()
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147
48790,36427429,No.2 with queen size bed,257683179,HâAi,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1

### Eliminamos valores duplicados

In [5]:
airbnbs = airbnbs.drop_duplicates() #elimina las filas duplicadas
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147
48790,36427429,No.2 with queen size bed,257683179,HâAi,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1

### Filtramos las columnas que nos interesen de todo el dataframe

La columna de reseñas por mes, las dividimos en 3 rangos iguales, después dependiendo del valor concreto que tenga cada apartamento se le asignarán las etiquetas: “Baja”, “Media” y ”Alta”.

In [6]:
columnaResenasMes = airbnbs[["reviews_per_month"]] #sacamos solo la columna de reseñas por mes
columnaResenasMes.head(10) #mostramos las 10 primera para confirmar que lo hemos hecho bien

    reviews_per_month
0                0.21
1                0.38
3                4.64
4                0.10
5                0.59
6                0.40
7                3.47
8                0.99
9                1.33
10               0.43

Para saber como dividir en 3 grupos los valores, vamos a ver cual es el valor maximo y cual es el valor minimo de esta columna.

In [7]:
maxResenas = columnaResenasMes.max()
print(str(maxResenas))
minResenas = columnaResenasMes.min()
print(str(minResenas))

reviews_per_month    58.5
dtype: float64
reviews_per_month    0.01
dtype: float64

Dividimos 58.5 entre tres para dividir por grupos

In [8]:
maxResenas/3

reviews_per_month    19.5
dtype: float64

##### Calidad baja iria de 0 a 19.5
##### Calidad media iria de 19.5 a 39
##### Calidad alta iria de 39 a 58.5
### Creamos otra columna, con la calidad, que añadiremos "Baja" "Media" y "Alta" según los valores mostrados arriba

In [9]:
#for index in range(columnaResenasMes.shape)):
  #  print(index)
airbnbs["Calidad"] = "None"
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,None
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,None
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,None
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,None
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147,None
48790,36427429,No.2 with queen size bed,257683179,HâAi,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339,None
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87,None
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40,None
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1,None

In [10]:

airbnbs[["reviews_per_month", "Calidad"]]
airbnbs.dropna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,None
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,None
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,None
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,None
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147,None
48790,36427429,No.2 with queen size bed,257683179,HâAi,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339,None
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87,None
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40,None
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1,None

In [11]:
for i, items in enumerate(airbnbs["reviews_per_month"].values):
    if items < 19.5:
        airbnbs.loc[i, "Calidad"] = "Baja"
    elif items >= 19.5 and items < 39: 
        airbnbs.loc[i, "Calidad" ] = "Media"
    elif items >= 39: 
        airbnbs.loc[i, "Calidad" ] = "Alta"
    
airbnbs.dropna()
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,Baja
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,Baja
3,3831.0,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,Baja
4,5022.0,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,Baja
5,5099.0,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,Baja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja
38813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja
38814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja
38818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja
38819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja

      
### Ya tenemos la columna Calidad creada, ahora vamos a hacer lo mismo con la disponibilidad

La columna de disponibilidad, las dividimos en 3 rangos iguales, después dependiendo del valor concreto que tenga cada apartamento se le asignarán las etiquetas: "Poco Disponnible", "Disponible normalmemte", "Altamente disponible"
Como hay 365 dias, dividimos los rangos en 122
de 0 a 122: poca dispoibilidad
de 122 a 244: Media disponibilidad
de 224 a 365: alta

In [12]:
airbnbs["Disponibilidad"] = ""
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad,Disponibilidad
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,Baja,
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,Baja,
3,3831.0,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,Baja,
4,5022.0,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,Baja,
5,5099.0,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,Baja,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,
38813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,
38814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,
38818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,
38819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,

### Columna Disponibilidad vacia creada, la rellenamos con datos

In [13]:
i = 0
for items in airbnbs["availability_365"].values:
    #print("iteracion " + str(i))
    #print("Reviews per Month " + str(items))
    if items < 122:
        airbnbs.loc[i, "Disponibilidad"] = "Poco disponible"
        #print("Calidad buena")
        #print(items)
    if items > 121 and items < 244: 
        airbnbs.loc[i, "Disponibilidad" ] = "Disponible normalmente"
        #print(items)
    if items > 243: 
        airbnbs.loc[i, "Disponibilidad" ] = "Altamente disponible"
        #print(items)
    i = i +1
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad,Disponibilidad
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,Baja,Altamente disponible
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,Baja,Altamente disponible
3,3831.0,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,Baja,Poco disponible
4,5022.0,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,Baja,Disponible normalmente
5,5099.0,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,Baja,Poco disponible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible
38813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible
38814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible
38818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible
38819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible

### Clasificamos apartamentos. Creamos una columna Clasificacion

In [14]:
airbnbs["Clasificacion"] = ""
airbnbs

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad,Disponibilidad,Clasificacion
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,Baja,Altamente disponible,
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,Baja,Altamente disponible,
3,3831.0,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,Baja,Poco disponible,
4,5022.0,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,Baja,Disponible normalmente,
5,5099.0,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,Baja,Poco disponible,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible,
38813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible,
38814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible,
38818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible,
38819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baja,Poco disponible,

### Rellenamos la columna de clasificacion

In [35]:
airbnbs.dropna()

for i, items in enumerate(airbnbs["Calidad"].values):
    #print("iteracion " + str(i))
    #print(airbnbs.loc[i, "Disponibilidad"])
    #print("Reviews pe Month " + str(items))
    #disponibilidad = airbnbs.loc[i, "Disponibilidad"]
    #print(disponibilidad)     
    #print(items)
    if i == 38823:
        break
    if items == "Baja" and airbnbs.loc[i, "Disponibilidad"] == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Bueno"
        #print("Calidad buena")
        #print(airbnbs.items)
    if items == "Media" and airbnbs.loc[i, "Disponibilidad"] == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Bueno"
        #print(airbnbs.items)
    if items == "Alta" and airbnbs.loc[i, "Disponibilidad"] == "Poco disponible":
        airbnbs.loc[i, "Clasificacion"] = "Muy Bueno"
        #print(airbnbs.items)
    if items == "Baja" and airbnbs.loc[i, "Disponibilidad"] == "Disponible normalmente":
        airbnbs.loc[i, "Clasificacion"] = "Regular"
        #print(airbnbs.items)
    if items == "Media" and airbnbs.loc[i, "Disponibilidad"] == "Disponible normalmente":
        airbnbs.loc[i, "Clasificacion"] = "Regular"
        #print(airbnbs.items)
    if items == "Alta" and airbnbs.loc[i, "Disponibilidad"] == "Disponible normalemnte":
        airbnbs.loc[i, "Clasificacion"] = "Bueno"
        #print(airbnbs.items)
    if items == "Baja" and airbnbs.loc[i, "Disponibilidad"] == "Altamente disponible":
        airbnbs.loc[i, "Clasificacion"] = "Malo"
        #print(airbnbs.items)
    if items == "Media" and airbnbs.loc[i, "Disponibilidad"] == "Altamente disponible":
        airbnbs.loc[i, "Clasificacion"] = "Malo"
        #print(airbnbs.items)
    if items == "Alta" and airbnbs.loc[i, "Disponibilidad"] == "Altamente disponible":
        airbnbs.loc[i, "Clasificacion"] = "Muy Malo"
        #print(airbnbs.items)
  
    #print()
airbnbs.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Calidad,Disponibilidad,Clasificacion
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,Baja,Altamente disponible,Malo
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,Baja,Altamente disponible,Malo
3,3831.0,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,Baja,Poco disponible,Bueno
4,5022.0,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,Baja,Disponible normalmente,Regular
5,5099.0,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,Baja,Poco disponible,Bueno
6,5121.0,BlissArtsSpace!,7356.0,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0,Baja,Disponible normalmente,Regular
7,5178.0,Large Furnished Room Near B'way,8967.0,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0,Baja,Poco disponible,Bueno
8,5203.0,Cozy Clean Guest Room - Family Apt,7490.0,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0,Baja,Disponible normalmente,Regular
9,5238.0,Cute & Cozy Lower East Side 1 bdrm,7549.0,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0,Baja,Poco disponible,Bueno
10,5295.0,Beautiful 1br on Upper West Side,7702.0,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135.0,5.0,53.0,2019-06-22,0.43,1.0,6.0,Baja,Poco disponible,Bueno
11,5441.0,Central Manhattan/near Broadway,7989.0,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85.0,2.0,188.0,2019-06-23,1.50,1.0,39.0,Baja,Altamente disponible,Malo
12,5803.0,"Lovely Room 1, Garden, Best Area, Legal rental",9744.0,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89.0,4.0,167.0,2019-06-24,1.34,3.0,314.0,Baja,Altamente disponible,Malo
13,6021.0,Wonderful Guest Bedroom in Manhattan for SINGLES,11528.0,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85.0,2.0,113.0,2019-07-05,0.91,1.0,333.0,Baja,Poco disponible,Bueno
14,6090.0,West Village Nest - Superhost,11975.0,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120.0,90.0,27.0,2018-10-31,0.22,1.0,0.0,Baja,Poco disponible,Bueno
15,6848.0,Only 2 stops to Manhattan studio,15991.0,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140.0,2.0,148.0,2019-06-29,1.20,1.0,46.0,Baja,Altamente disponible,Malo
16,7097.0,Perfect for Your Parents + Garden,17571.0,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215.0,2.0,198.0,2019-06-28,1.72,1.0,321.0,Baja,Poco disponible,Bueno
17,7322.0,Chelsea Perfect,18946.0,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140.0,1.0,260.0,2019-07-01,2.12,1.0,12.0,Baja,Poco disponible,Bueno
18,7726.0,Hip Historic Brownstone Apartment with Backyard,20950.0,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99.0,3.0,53.0,2019-06-22,4.44,1.0,21.0,Baja,Poco disponible,Bueno
20,7801.0,Sweet and Spacious Brooklyn Loft,21207.0,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299.0,3.0,9.0,2011-12-28,0.07,1.0,0.0,Baja,Altamente disponible,Malo
21,8024.0,CBG CtyBGd HelpsHaiti rm#1:1-4,22486.0,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130.0,2.0,130.0,2019-07-01,1.09,6.0,347.0,Baja,Altamente disponible,Malo

## Tratamiento de datos terminado